*
{
    font-family: sans-serif;
}

body
{
    margin: 0;
    color:#508A92;
    background-color: rgb(255, 255, 255);
    text-align: center;
    align-content: center;
    align-items: center;
}

.color_1
{
    font-size: 5vw;
    color: #508A92;
}



.sns-box img
{
    margin: 1vw;
    width: 6vw;
    height: 6vw;
}

.back
{
    width: 100vw;
    height: 100vw;
    background-color: rgba(121, 243, 229, 0.2);
    position: absolute; 
}
.main-img
{
    width: 15vw;
    height: 15vw;
}

.sns-box
{
    display: flex;
    
    justify-content: center;
    align-items: center;

}

.sns-link
{
    margin: 1vw;
    float: left;
}

.info-box
{
    float: unset;
}

.nextln
{
    clear: both;
}