@keyframes wave {
    0% {
        transform: translateX(-50%);
    }

    100% {
        transform: translateX(0%);
    }
}

@font-face {
    font-family: sans-serif;
    src: url();
}

body
{
    margin: 0;
    color:#659da6;
    background-color: rgb(255, 255, 255);
    text-align: center;
    align-content: center;
    align-items: center;
    overflow-x: hidden;
}

.nav {
    display: flex;
    justify-content: right;
    background-color: rgba(121, 243, 229, 0.2);
    padding: 10px;
    border: 1;
    border-color: black;
}

.nav a {
    margin: 2vw;
    font-size: 80%;
    color: #508A92;
}

.color_1
{
    font-size: 5vw;
    color: #508A92;
    margin-top: 5vw;
    margin-bottom: 5vw;
}

.move_1 {
    animation: wave 1.75s linear infinite;
    position: relative;
}

.move_2 {
    animation: wave 1.5s linear infinite;
    position: absolute;
}

.move_3 {
    animation: wave 2s linear infinite;
    position: absolute;
}



.back
{
    width: 100vw;
    height: 150vh;
    background-color: rgba(121, 243, 229, 0.2);
    position: absolute; 
    z-index: -1;
}
.back_2
{
    width: 100vw;
    height: 150vh;
    background-color: rgba(120, 190, 255, 0.2);
    position: absolute; 
    z-index: -1;
}


.main-img
{
    width: 15vw;
    height: 15vw;
}

.sns-box
{
    display: flex;
    
    justify-content: center;
    align-items: center;

}

.sns-box img
{
    margin: 2vw;
    margin-top: 5vw;
    width: 7vw;
    height: 7vw;
}

.mager {
    display: flex; 
    justify-content: center;
    font-size: medium;
    font-weight: 900;
    
}

.info-box
{
    margin: 10vw;
    margin-left: 20vw;
    margin-right: 20vw;
    font-weight: 800;
    text-align: center;
    font-size: 18px;
}

@media (max-width: 600px) {
    .back
    {
        width: 100vw;
        height: 160vh;
        background-color: rgba(121, 243, 229, 0.2);
        position: absolute; 
    }
    .back_2
    {
        width: 100vw;
        height: 160vh;
        background-color: rgba(120, 190, 255, 0.2);
        position: absolute; 
    }
    .main-img
    {
        width: 20vw;
        height: 20vw;
    }
    .sns-box img
    {
        margin: 2vw;
        margin-top: 5vw;
        width: 10vw;
        height: 10vw;
    }
    .info-box
    {
        margin: 10vw;
        margin-top: 20vw;
        font-weight: 800;
        text-align: center;
        font-size: 4vw;
    }

}
@media (min-width: 1000px) {
    .back
    {
        width: 100vw;
        height: 190vh;
        background-color: rgba(121, 243, 229, 0.2);
        position: absolute; 
    }
    .back_2
    {
        width: 100vw;
        height: 190vh;
        background-color: rgba(120, 190, 255, 0.2);
        position: absolute; 
    }
    .sns-box img
    {
        margin: 2vw;
        margin-top: 5vw;
        width: 7vw;
        height: 7vw;
    }
    .main-img
    {
        width: 15vw;
        height: 15vw;
    }
    .info-box
    {
        margin: 10vw;
        margin-left: 20vw;
        margin-right: 20vw;
        font-weight: 800;
        text-align: center;
        font-size: 24px;
    }

}
