body {
    background-color: white;
    width: 100%;
    height: 100%;
    margin: 0;
    place-items: center;
    padding-left: 0%;
    margin: 0;
}

.test {
    width: 100%;
    height: 120%;
    padding: 12%, 20%;
    background-image: url("assets/backgraund.svg");
    background-repeat: no-repeat;
    background-size: cover;
    place-items: center;
}

.info-box {
    width: 100vw;
    color: 1C7683;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    font-style: normal;
    text-align: center;
}

.top {
    width: 100vw;
    font-family: 'Courier New', Courier, monospace;
    font-size: 5vw;
}

#top-over {
    width: 100vw;
    height: 10vw;
}
/*
@media nav(width:500px;) {

}
*/

body {
    overflow-x: hidden;
    overflow-y: auto;
}