@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@media screen and (width <= 700px){
    .header {
        font-size: 40px;
    }
}

@keyframes identifier {
    
}

body {
    margin: 10vw;
}

section {
    font-family: 'Pretendard-Regular';
    color: rgb(64, 80, 89);
    text-align: center;
    justify-content: center;
    align-items: center;
}

#over {
    padding: 30px;
    font-size: 50px;
    
}

.serch {

}

.icons {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    background: #ffffff;
    align-items: center;
}

.icon-no {
    position: relative;
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3), 0 2px 0px rgba(255,255,255,0.4) inset, 0 -2px 0px rgba(0,0,0,0.5) inset;
    border-radius: 100px;
    transition: 0.2s ease-in-out;

}

.icon-no:hover{
    transform: translate(0, -10px);
}

.icon-no1{
    background-image: url(Group\ 90.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center

}

.icon-no2 {

    background-image: url(Ellipse\ 37.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center
}

.icon-no3 {
    background-image: url("./asset/icon_mule.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center

}

.icon-no4 {
    background-image: url(Ellipse\ 38.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center

}

.icon-no5 {
    background-image: url("./asset/icon_park.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center

}

.icon-info {
    display: flex;
    justify-content: center;
    flex-direction: row;
    font-size: medium;
    color: rgb(78, 88, 128);
}

.bold {
    padding-bottom: 5px;
    font-weight: 800;
    font-size: 25px;
    padding-top: 5px;
    color: rgba(191, 133, 165, 0.8);
    mix-blend-mode: multiply;
    border-bottom: 3px solid rgba(255, 150, 150, 0.2);
}


.info-box {
    padding: 30px;
    
    color: rgba(91, 81, 81, 0.8);
    mix-blend-mode: multiply;
}

.highlight {
    color: #8CC8FF;
    font-weight: 900;
}

#soon {
    display: blok;
    border: 6px solid rgb(255, 238, 150, 50);
    
    padding: 10px;
    border-radius: 30px;
}

#mule {
    display: block;
    border: 6px solid rgb(140, 255, 248, 50);
    
    padding: 10px;
    border-radius: 30px;
}

#gomdure {
    display: none;
    border: 6px solid rgb(155, 191, 255, 50);
    opacity: 1;
    padding: 10px;
    border-radius: 30px;
}
